/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.header {
  font-family: serif;
  font-size: 4rem;
  font-weight: bold;
  color: darkblue;
  text-align: center;
  padding-top: 24px;
}

.button {
  text-align: center;
  padding-bottom: 48px;
}

#addBook {
  background-color: darkblue;
  color: white;
  border: none;
  height: 28px;
  width: 124px;
  border-radius: 999px;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
}

::backdrop {
  background-color: black;
  opacity: 70%;
}

dialog > div {
  font-size: 1.5rem;
  text-align: center;
}

dialog > button {
  border: none;
  float: right;
  background-color: white;
  color: gray;
  font-size: 1.5rem;
}

.formInput {
  display: flex;
  margin: 8px 72px 8px 0;
}

div.formInput > label {
  width: 200px;
  text-align: end;
}

input[type="text"], input[type="number"] {
  font-size: 1.25rem;
  background-color: #E2E8F0FF;
  border-radius: 16px;
  border-style: none;
  padding: 0 16px;
  width: 100%;
  margin: 0 16px;
}

input[type="text"]:focus, input[type="number"]:focus {
  border: 2px solid #1992D4FF;
  outline: none;
}

#radios {
  display: flex;
  justify-content: center;
  gap: 64px;
}

input[type="submit"] {
  background-color: darkblue;
  color: white;
  border: none;
  height: 28px;
  width: 124px;
  border-radius: 999px;
  margin-top: 32px;
}

.content {
  display: flex;
  justify-content: center;
}

#books {
  width: 1000px;
  height: 1000px;
  background-color: lightgrey;
}